.btn-personal{
    background-color: #A14DA0; 
    color: white;
}

.fondo-color{
    background-color: #FFFFFF;
}
/*class="fondo-color"   9463E1     F4D2C3*/

.lila-color{
    background-color: #EAB9B9;
}
