<nav class="navbar navbar-dark fixed-top" style="background-color: #D1B9EA;">
    <div class="container-fluid" >
      <a class="navbar-brand" href="#" ><font color="black" >Ruleta</font></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation" style="background-color: #A14DA0;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel" >
        <div class="offcanvas-header" style="background-color: #D1B9EA;">
          
            <img src="/assets/imagenes/logoMacus.jpg" width="200px" height="200px" alt="" >
        
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"><font color="black" >Usuario</font></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" style="background-color: #D1B9EA;">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"><font color="black" >Home</font></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><font color="black" >Juegos</font></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><font color="black" >¿Necesitas ayuda?</font></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <font color="black" >Info Importante</font>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#"><font color="black" >Action</font></a></li>
                <li><a class="dropdown-item" href="#"><font color="black" >Another action</font></a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#"><font color="black" >Something else here</font></a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </div>
  </nav>
  
  
  <br>
  <br>
  <br>
  <!--
    <img src="/assets/imgRuleta.png" alt="">
  -->
  <body class="container" style="display: flex; justify-content: center;">
    
  
  <div  class="flexbox-margin-auto">
    <div>
  
  <br>
  <br>
  <br>
  <br>
  <br>
      
  <app-ruleta6a12></app-ruleta6a12>
      <a href="/preguntas">
       
      </a>

    </div>
  </div>
    
  
  </body>
  
    
